.label-emergency{
    background-color: red;
    color: white;
    padding: 0.5rem;
    border-radius: 20px;
}

.emergency-form-bg{
    color: black;
    border-radius: 30px;
    padding: 2rem;
}

.emergency-banner{
    max-height: 5vh;
    margin-top: 1rem;
    
}