.body-bg {
    background-image: url("../img/register//BG.png");
    background-size: cover;
    background-position: bottom;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-text {
    font-size: 32px;
}

.form-bg {
    background-color: rgba(255, 255, 255, 0.4);
    color: white;
    border-radius: 30px;
    padding: 2rem;
}